<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: header"></div>
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Simple form login app</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sapiente culpa impedit
                eius eligendi dolor labore, sint repudiandae vel, doloribus distinctio at magnam nulla eveniet!
                Aspernatur, earum id ab quis sed voluptates facilis voluptatibus sint. Dolore nihil nisi earum eveniet,
                molestiae voluptate id, nulla, quam laudantium ex repellendus. Perferendis, repellendus!</p>
        </div>
    </div>

</div>
</body>
</html>