<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 g-2">
            <div class="card p-5 text-center">
                <div class="py-2">
                    <h3>2-Step verification </h3>
                </div>
                <div class="alert alert-danger" th:if="${invalid_code}" th:text="${invalid_code}">
                </div>
                <form th:action="@{/login/two-step-verification}" method="post">
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="verification_code" placeholder="verification code">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-secondary w-100" href="/register">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>